
$primary: pink;
$secondary: lighten(blue, 30%);

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

$soft-orange: lighten(#0011fff1, 40%);
$soft-pink: lighten(rgb(241, 231, 233), 20%);
$primary-blue: rgb(185, 239, 255);
$primary-text: darken(lightgrey, 30%);


@mixin default-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 6px;
  border-radius: 6px;
  //justify-content: center;
  //border: solid 1px rgb(160, 149, 149);
}
body {
  background: linear-gradient(to right, rgb(239, 255, 222), rgb(200, 239, 252), rgba(248, 237, 214, 0.74));
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.container {
  @include default-flexbox;
  background: linear-gradient(to right, rgb(239, 255, 222), rgb(200, 239, 252), rgba(248, 237, 214, 0.74));
  background-size: cover;
  background-color: lighten($primary, 10%);
  height: 730px;
}
button {
  @include default-flexbox;
  color: white;
  background-color: rgb(145, 155, 199);
  border: solid 1px rgb(160, 149, 149);
  padding: 6px;
  box-shadow: 0 4px 12px 0 rgb(136, 146, 187);
}

form {
  @include default-flexbox;
  
  input {
    @include default-flexbox;
    border: solid 1px rgb(160, 149, 149);
  }
}

.error{
  @include default-flexbox;
}

h1{
  color: rgb(114, 122, 156); 
}